.projetos {
  min-height: 100vh;
  background: radial-gradient(circle at right, #020617, #000);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.projetos-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  animation: fadeLeft 0.8s ease forwards;
}

.projetos-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  animation: fadeLeft 0.6s ease forwards;
}

.projetos-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  animation: fadeLeft 1s ease forwards;
}

.projeto-card {
  background: #1b1d2a;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.projeto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.projeto-card h3 {
  font-size: 1.5rem;
}

.projeto-card p {
  font-size: 0.95rem;
  color: #cbd5f5;
}

.projeto-card span {
  font-size: 0.85rem;
  color: #94a3b8;
}

.btn {
  margin-top: auto;
  padding: 8px 14px;
  border: 2px solid #6366f1;
  border-radius: 6px;
  background: transparent;
  color: #6366f1;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #6366f1;
  color: #0f111a;
}

@media (max-width: 768px) {
  .projetos-cards {
    grid-template-columns: 1fr;
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-40px); /* anim da esquerda */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
