/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 80px;
  background: radial-gradient(circle at right, #020617, #000);
  color: white;
}

.hero-texto {
  max-width: 650px;
  animation: fadeRight 0.8s ease forwards;
  text-align: center;
}

.hero-texto h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-botoes {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.hero-texto button {
  padding: 14px 28px;
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  color: #6366f1;
  border: 2px solid #6366f1;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-texto button:hover {
  background-color: #6366f1;
  color: #020617;
}

/* SOBRE */
.sobre {
  min-height: 100vh;
  background: radial-gradient(circle at right, #020617, #000);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre-container {
  max-width: 1000px;
  width: 100%;
  padding: 40px;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 60px;
  animation: fadeUp 0.8s ease forwards;
}

.sobre-foto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre-foto img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 16px;
  border: 2px solid #1e293b;
  transition: 0.3s;
}

.sobre-foto img:hover {
  border-color: #6366f1;
  transform: scale(1.03);
}

.sobre-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* CENTRALIZA descrição, dados e labels */
  text-align: center;
}


.sobre-descricao {
  color: #cbd5f5;
  line-height: 1.6;
  margin-bottom: 32px;
  max-width: 550px;
  text-align: center;
}


.sobre-label {
  display: flex;
  gap: 40px;
  text-align: center;
  justify-content: center;
}

.labels {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 0.85rem;
  color: #94a3b8;
}

.valor {
  font-size: 1.1rem;
  font-weight: 500;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .sobre-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .sobre-dados {
    justify-content: center;
  }
}

/* ANIMAÇÕES */
@keyframes fadeRight {
  from {
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-indicator span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #6366f1;
  border-right: 2px solid #6366f1;
  transform: rotate(45deg);
  animation: scrollDown 1.5s infinite;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}
