.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  background: radial-gradient(circle at right, #020617, #000);
  color: white;
}
.hero-texto {
  max-width: 650px;
  animation: fadeRight 0.8s ease forwards;
}
.hero-texto h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero-texto h1 span {
  color: #6366f1;
}
.hero-texto p {
  font-size: 1.1rem;
  color: #cbd5f5;
  margin-bottom: 32px;
}
.hero-botoes {
  display: flex;
  gap: 24px;
}
.hero-texto button {
  padding: 14px 28px;
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  color: white;
  border: 2px solid #6366f1;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.hero-texto button:hover {
  background-color: #6366f1;
  color: #020617;
}
.hero-imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50px);
  animation: fadeRight 0.8s ease forwards;
}

.hero-imagem img {
  width: 500px;
  height: auto;
  border-radius: 24px;
  padding: 200px;
}


@keyframes fadeRight {
  from {
    transform: translateX(40px); /* anim da direita */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
