/* nome enzo */

.header {
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 1000;
}

.header-visual {
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: 1000;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 10px;

  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* gap entre estrela e routers */

.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  display: flex;
  align-items: center;
  gap: 10px;

  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  color: #6366f1;
}

/* sou um */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 80px;
  background: radial-gradient(circle at right, #020617, #000);
  color: white;
}

/* texto principal */

.hero-texto {
  max-width: 480px;
}

.hero-texto h1 {
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-texto h1 span {
  color: #6366f1;
}

.hero-texto p {
  font-size: 1.1rem;
  color: #cbd5f5;
  margin-bottom: 32px;
}

/* buttons */

.hero-texto button {
  padding: 14px 28px;
  font-size: 1rem;
  font-weight: 600;

  background: transparent;
  color: #6366f1;

  border: 2px solid #6366f1;
  border-radius: 6px;

  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-texto button:hover {
  background-color: #6366f1;
  color: #020617;
}

/* foto circulo */

.hero-imagem {
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(-50px);
}

.circulo {
  width: 380px;
  height: 380px;

  background-color: #6366f1;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-circulo {
  width: 75%;
  height: 75%;

  border-radius: 50%;
  object-fit: cover;
  display: block;
}

/* estrela routers*/

.estrela {
  transform: translateX(8px) rotate(15deg);
  filter: drop-shadow(0 0 6px rgba(39, 40, 109, 0.6));
}

.estrela path {
  fill: #6366f1;
}

.hero-botoes {
  display: flex;
  gap: 24px; 
}

